<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>bitcamp💯</title>
</head>
<body>
    <!-- title -->
    <div class="title"> Bitcamp Tingz </div>
    <!-- text input forms -->
    <form method="POST">
        <div class="main-horizontal">
            <textarea class="text-input" name="text" placeholder="Enter text here..."></textarea>
            <div class="right-vertical">
                <input class="query-input" name="text2" placeholder="Enter concept here...">
                <input class="search-btn" type="submit" placeholder="search">
            </div>
        </div>
    </form>
</body>
</html>