<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>bitcamp💯</title>
</head>
<body>
    <!-- title -->
    <p><div class="title-banner title">ByteSize🍪</div></p>
    <p><div class="title-banner blurb">BITSHIT text one bite at a time.</div></p>
    <!-- text input forms -->
    <form method="POST">
        <div class="main-horizontal">
            <textarea class="text-input" name="text" placeholder="Enter text here..."></textarea>
            <!-- <div class="right-vertical"> -->
            <input class="query-input" name="text2" placeholder="What are you looking for?">
            <input class="search-btn" type="submit" placeholder="search">
            <!-- </div> -->
        </div>
    </form>
</body>
</html>